.conheca {
    height: 950px;
    background: url('../../img/fundo-conheca.svg');
    background-size: cover;
}

.conhecaTitle {
    padding-top: 30px;
    text-align: center;
    font-size: 48px;
    font-family: 'Amita', sans-serif;
}

.conhecaContainer {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content {
    width: 400px;
    margin-right: 50px;
}

.content p {
    font-size: 23px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    width: 532px;
}

.check {
    display: flex;
    align-items: center;
    padding: 25px 0;
    position: relative;
    left: 50%;
    transform: translateX(-25%);
}

.check label {
    margin-left: 30px;
    font-family: sans-serif;
    font-size: 23px;
}

/* Tablet */ 
@media screen and (max-width: 884px) {
    @media screen and (max-width: 768px) {
        .conheca .images {
            display: none;
        }
    
        .conhecaContainer {
            display: block;
            width: 90%;
            margin: auto;
        }
        
        .content {
            width: 100%;
        }
        
        .content p {
            margin: 40px auto;
        }
    }
}

/* iPhone 14 PRO MAX */
@media screen and (max-width: 428px) {
    .conheca {
        background: #eeeeff;
        height: 70vh;
    }
    
    .conhecaTitle {
        font-size: 28px;
    }

    .conhecaContainer {
        display: block;
        width: 90%;
        margin: auto;
    }

    .content p {
        font-size: 16px;
        width: 100%;
    }

    .check {
        display: block;
        margin-left: 60px;
        left: 0;
        transform: translateX(0);
    }

    .check img {
        width: 30px;
    }

    .check label {
        font-size: 16px;
    }
}