.conheca {
    height: 810px;
    background: url('../../img/fundo-conheca.svg');
    background-size: cover;
}

.conhecaTitle {
    padding-top: 30px;
    text-align: center;
    font-size: 32px;
}

.conhecaContainer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 400px;
    margin-right: 50px;
}

.content p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.check {
    display: flex;
    align-items: center;
    padding: 25px 0;
    position: relative;
    justify-content: center;
}