.verduras .verdurasTitle {
    text-align: center;
    font-size: 48px;
    font-family: 'Amita';
    margin-top: 40px;
}

.verduras .verdurasTitle span {
    color: #0A6835;
}

.verdurasContent {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: auto;
}

.box {
    width: 90%;
    height: 629px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 32px;
}

.alface {
    background: url(../../img/alface-box.svg);
    background-size: cover;
    background-position: center;
}

.cebolinha {
    background: url(../../img/cebolinha-box.svg);
    background-size: cover;
    background-position: center;
}

.espinafre {
    background: url(../../img/espinafre-box.svg);
    background-size: cover;
    background-position: center;
}

.couve {
    background: url(../../img/couve-box.png);
    background-size: cover;
    background-position: center;
}

.rucula {
    background: url(../../img/rucula-box.svg);
    background-size: cover;
    background-position: center;
}

.acelga {
    background: url(../../img/acelga-box.svg);
    background-size: cover;
    background-position: center;
}

.boxText {
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 40%;
}

.boxTitle {
    font-size: 32px;
    font-family: 'Amita', sans-serif;
}

.boxP {
    height: 120px;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 0 20px;
}

.link span {
    font-size: 20px;
    cursor: pointer;
    color: #6e6e6e;
    transition: 0.2s ease all;
}

.link span:hover {
    color: #000;
    transition: 0.2s ease all;
}

@media screen and (max-width: 768px) {
    .verduras .verdurasTitle {
        font-size: 38px;
    }
    
    .verdurasContent {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        grid-gap: 0px;
    }

    .boxP {
        height: 130px;
    }

    .link span {
        color: #000;
    }

}