.temperos {
    margin-bottom: 30px;  
}

.temperos .temperosTitle {
    text-align: center;
    font-size: 48px;
    font-family: 'Amita';
    margin-top: 40px;
}

.temperos .temperosTitle span {
    color: #0A6835;
}

.temperosContent {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
    margin: auto;
}

.tomilho {
    background: url(../../img/tomilho-box.svg);
    background-size: cover;
    background-position: center;
}

.salsa {
    background: url(../../img/salsa-box.svg);
    background-size: cover;
    background-position: center;
}

.alecrim {
    background: url(../../img/alecrim-box.svg);
    background-size: cover;
    background-position: center;
}

.manjericao {
    background: url(../../img/manjericao-box.svg);
    background-size: cover;
    background-position: center;
}

.oregano {
    background: url(../../img/oregano-box.svg);
    background-size: cover;
    background-position: center;
}

.hortela {
    background: url(../../img/hortela-box.svg);
    background-size: cover;
    background-position: center;
}
