.temperos {
    height: 1400px;
}

.temperos .temperosTitle {
    text-align: center;
}

.temperosContent {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
    justify-content: center;
    margin: auto;
}

.box {
    width:358px;
    height: 519px;
    position: relative;
}

.tomilho {
    background: url(../../img/tomilho-box.svg);
    background-size: cover;
    background-position: center;
}

.salsa {
    background: url(../../img/salsa-box.svg);
    background-size: cover;
    background-position: center;
}

.alecrim {
    background: url(../../img/alecrim-box.svg);
    background-size: cover;
    background-position: center;
}

.manjericao {
    background: url(../../img/manjericao-box.svg);
    background-size: cover;
    background-position: center;
}

.oregano {
    background: url(../../img/oregano-box.svg);
    background-size: cover;
    background-position: center;
}

.hortela {
    background: url(../../img/hortela-box.svg);
    background-size: cover;
    background-position: center;
}

/* .boxText {
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 0 40px;
}

.boxTitle {
    padding: 20px 0;
}

.link {
    text-decoration: underline;
    cursor: pointer;
    padding: 20px 0;
} */