footer {
    height: 500px;
    background-color: #BEEBC2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer .logo {
    position: relative;
    width: 350px;
    left: 50%;
    transform: translateX(-50%);
}

.pageLinks {
    display: flex;
    justify-content: center;
}

.pageLinks li {
    margin: 0 50px;
    list-style: none;
    cursor: pointer;
    transition: 0.12s all ease;
    font-size: 28px;
}

.pageLinks li:hover {
    transform: scale(1.07);
    color: #555;
}

.linha {
    margin-top: 92px;
}

.socialMedia {
    display: flex;
    justify-content: center;
}

.socialMedia li {
    margin: 0 15px;
    list-style: none;
    cursor: pointer;
}

.socialMedia li:hover {
    transform: scale(1.07);
}

footer p {
    text-align: center;
    font-size: 18px;
    color: #424242;
    margin-top: 72px;
}

@media screen and (max-width: 884px) {
    @media screen and (min-width: 768px) {
        footer .logo {
            position: relative;
            width: 250px;
            left: 50%;
            transform: translateX(-50%);
        }
        
        footer p {
            padding-bottom: 20px;
            margin-top: 0px;
        }
    
        .pageLinks li {
            margin: 0 20px;
            list-style: none;
            cursor: pointer;
            transition: 0.12s all ease;
            font-size: 20px;
        }
    
        .linha {
            margin-top: 0px;
        }    
    }
}